<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../master.css">
    <link rel="stylesheet" href="css/component.css">
    <script src="js/main.js"></script>
</head>

<body>
    <aside id="content-aside">
        <input type="search" id="mySearch" onkeyup="myFunction()" placeholder="Search for names.." title="Type in a name" a>
        <ul id="myMenu">
            <li class="fontMark">A</li>
            <li><a href="#">algo</a></li>
            <li><a href="#">algo</a></li>
            <li><a href="#">bla</a></li>
            <li><a href="#">algo</a></li>
            <li><a href="#">ga</a></li>
            <li class="fontMark">B</li>
            <li><a href="#">algo</a></li>
            <li><a href="#">algo</a></li>
            <li><a href="#">hua</a></li>
            <li><a href="#">algo</a></li>
            <li><a href="#">algo</a></li>
            <li class="fontMark">B</li>
            <li><a href="#">algo</a></li>
            <li><a href="#">algo</a></li>
            <li><a href="#">algo</a></li>
            <li><a href="#">algo</a></li>
            <li><a href="#">algo</a></li>
            <li class="fontMark">B</li>
            <li><a href="#">algo</a></li>
            <li><a href="#">algo</a></li>
            <li><a href="#">algo</a></li>
            <li><a href="#">algo</a></li>
            <li><a href="#">algo</a></li>
            <li class="fontMark">B</li>
            <li><a href="#">algo</a></li>
            <li><a href="#">algo</a></li>
            <li><a href="#">algo</a></li>
            <li><a href="#">algo</a></li>
            <li><a href="#">algo</a></li>
            <li class="fontMark">B</li>
            <li><a href="#">algo</a></li>
            <li><a href="#">algo</a></li>
            <li><a href="#">algo</a></li>
            <li><a href="#">algo</a></li>
            <li><a href="#">algo</a></li>
            <li class="fontMark">B</li>
            <li><a href="#">algo</a></li>
            <li><a href="#">algo</a></li>
            <li><a href="#">algo</a></li>
            <li><a href="#">algo</a></li>
            <li><a href="#">algo</a></li>

            <li class="fontMark">B</li>
            <li><a href="#">algo</a></li>
            <li><a href="#">algo</a></li>
            <li><a href="#">algo</a></li>
            <li><a href="#">algo</a></li>
            <li><a href="#">algo</a></li>
            <li class="fontMark">B</li>
            <li><a href="#">algo</a></li>
            <li><a href="#">algo</a></li>
            <li><a href="#">algo</a></li>
            <li><a href="#">algo</a></li>
            <li><a href="#">algo</a></li>
            <li class="fontMark">B</li>
            <li><a href="#">algo</a></li>
            <li><a href="#">algo</a></li>
            <li><a href="#">algo</a></li>
            <li><a href="#">algo</a></li>
            <li><a href="#">algo</a></li>
            <li class="fontMark">B</li>
            <li><a href="#">algo</a></li>
            <li><a href="#">algo</a></li>
            <li><a href="#">algo</a></li>
            <li><a href="#">algo</a></li>
            <li><a href="#">algo</a></li>
            <li class="fontMark">B</li>
            <li><a href="#">algo</a></li>
            <li><a href="#">algo</a></li>
            <li><a href="#">algo</a></li>
            <li><a href="#">algo</a></li>
            <li><a href="#">algo</a></li>
            <li class="fontMark">B</li>
            <li><a href="#">algo</a></li>
            <li><a href="#">algo</a></li>
            <li><a href="#">algo</a></li>
            <li><a href="#">algo</a></li>
            <li><a href="#">algo</a></li>

            <li class="fontMark">B</li>
            <li><a href="#">algo</a></li>
            <li><a href="#">algo</a></li>
            <li><a href="#">algo</a></li>
            <li><a href="#">algo</a></li>
            <li><a href="#">algo</a></li>
            <li class="fontMark">B</li>
            <li><a href="#">algo</a></li>
            <li><a href="#">algo</a></li>
            <li><a href="#">algo</a></li>
            <li><a href="#">algo</a></li>
            <li><a href="#">algo</a></li>
            <li class="fontMark">B</li>
            <li><a href="#">algo</a></li>
            <li><a href="#">algo</a></li>
            <li><a href="#">algo</a></li>
            <li><a href="#">algo</a></li>
            <li><a href="#">algo</a></li>
            <li class="fontMark">B</li>
            <li><a href="#">algo</a></li>
            <li><a href="#">algo</a></li>
            <li><a href="#">algo</a></li>
            <li><a href="#">algo</a></li>
            <li><a href="#">algo</a></li>
            <li class="fontMark">B</li>
            <li><a href="#">algo</a></li>
            <li><a href="#">algo</a></li>
            <li><a href="#">algo</a></li>
            <li><a href="#">algo</a></li>
            <li><a href="#">algo</a></li>
            <li class="fontMark">B</li>
            <li><a href="#">algo</a></li>
            <li><a href="#">algo</a></li>
            <li><a href="#">algo</a></li>
            <li><a href="#">algo</a></li>
            <li><a href="#">algo</a></li>
            <li class="fontMark">B</li>
            <li><a href="#">algo</a></li>
            <li><a href="#">algo</a></li>
            <li><a href="#">algo</a></li>
            <li><a href="#">algo</a></li>
            <li><a href="#">algo</a></li>
        </ul>
    </aside>
    <main></main>
</body>

</html>