<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../master.css">
    <link rel="stylesheet" href="css/component.css">
    <script src="js/main.js"></script>
</head>

<body>
    <div class="wraper">

        <h1 contenteditable="true">Hello world!!</h1>
        <h2 contenteditable="true">Hello world!!</h2>
        <h3 contenteditable="true">Hello world!!</h3>
        <h4 contenteditable="true">Hello world!!</h4>
        <h5 contenteditable="true">Hello world!!</h5>
        <h6 contenteditable="true">Hello world!!</h6>
        <p contenteditable="true">Hello world!!</p>

        <h3 class="thin" contenteditable="true">Hello world!!</h3>
        <h3 class="medium" contenteditable="true">Hello world!!</h3>
        <h3 class="bold" contenteditable="true">Hello world!!</h3>

        <div class="inline">
            <button class="btn-round-small">+</button>
            <button class="btn-round-medium">+</button>
            <button class="btn-round-big">+</button>
        </div>
    </div>
</body>

</html>