* {
  box-sizing: border-box;
}

body {
  background-color: #f1f1f1;
}

#login-form {
  background-color: #ffffff;
  margin: 100px auto;
  padding: 25px;
  width: 500px;
  height: 800px;
  max-height: 540px;
  min-width: 300px;
}

.contents-item{
  height: 329px;
}

h1 {
  text-align: center;
}

input {
  padding: 10px;
  width: 100%;
  font-size: 17px;
  font-family: Raleway;
  border: 1px solid #aaaaaa;
}

/* Mark input boxes that gets an error on validation: */

.bottom-items {
  margin-bottom: 0;
}

.done-icon{
  margin: 0 35%;
  margin-bottom: 47px;
  width: 30%;
}

input.invalid {
  background-color: #ffdddd;
}

::placeholder {
  font-family: 'poppins';
}

input {
  font-family: 'poppins';
}

/* Hide all steps by default: */

#nextBtn, #prevBtn {
  width: 145px;
  border: 1px solid #475DD2;
}

#prevBtn {
  color: #475DD2;
  background: transparent;
}

.tab {
  display: none;
}

.myButtons {
  display: flex;
  margin: auto;
  justify-content: center;
}

textarea {
  width: 100%;
  resize: none;
}

button {
  background-color: #475DD2;
  border-radius: 100px;
  font-family: 'poppins';
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  font-size: 17px;
  cursor: pointer;
}

button:hover {
  opacity: 0.8;
}

/* Make circles that indicate the steps of the form: */

.steppers {
  text-align: center;
  margin: 30px 0;
}

.step {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #475DD2;
  border: none;
  border-radius: 50%;
  display: inline-block;
  opacity: 0.5;
}

.step.active {
  opacity: 1;
}

/* Mark the steps that are finished and valid: */

.step.finish {
  background-color: #475DD2;
}


.ck-whatsapp {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.ck-whatsapp input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  margin-left: 47%;
  border-radius: 6px;
  height: 25px;
  width: 25px;
  background-color: #eee;
}
.ck-whatsapp:hover input~.checkmark {
  background-color: #ccc;
}
.ck-whatsapp input:checked~.checkmark {
  background-color: #475DD2;
}
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
.ck-whatsapp input:checked~.checkmark:after {
  display: block;
}
.ck-whatsapp .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}