.timeline {
  background-color: var(--disable);
  min-width: 300px;
  position: relative;
  max-width: 1200px;
  margin: 45px auto;
  border-radius: 1%;
}

.timeline::after {
  content: '';
  position: absolute;
  width: 2px;
  background-color: var(--primary);
  top: 10px;
  bottom: 10px;
  left: 50%;
  margin-left: -1px;
}

.container {
  padding: 10px 40px;
  position: relative;
  background-color: inherit;
  width: 50%;
}

.container::after {
  content: '';
  position: absolute;
  width: 6px;
  height: 6px;
  right: -4px;
  background-color: var(--white);
  border: 1px solid var(--primary);
  top: 50%;
  border-radius: 50%;
  z-index: 1;
}

.left {
  left: 0;
  text-align: right;
}

.right {
  left: 50%;
}

.right::after {
  left: -4px;
}

.content {
  padding: 20px 30px;
  background-color: var(--white);
  position: relative;
  border-radius: 6px;
}

@media screen and (max-width: 600px) {
  .left{
    text-align: left;
  }

  .timeline::after {
  left: 20px;
  }
  
  .container {
  width: 100%;
  padding-left: 40px;
  padding-right: 25px;
  }
  
  .container::before {
  left: 60px;
  border: medium solid white;
  border-width: 10px 10px 10px 0;
  border-color: transparent white transparent transparent;
  }

   .left::after, .right::after {
  left: 16px;
  }
  
   .right {
  left: 0%;
  }
}