<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../master.css">
    <link rel="stylesheet" href="css/component.css">
    <script src="https://www.gstatic.com/firebasejs/6.2.0/firebase-app.js"></script>
    <script src="/api/firebase.js"></script>
</head>

<body>
    <div class="container">
        <div class="search-container">
            <input type="text" id="search-bar" placeholder="Pesquise aqui...">
            <nav class="menu-search">
                <ul id="ul-search">
                </ul>
            </nav>
        </div>
    </div>

    <script src="/api/api.js"></script>
    <script src="js/main.js"></script>
</body>

</html>