<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../master.css">
    <link rel="stylesheet" href="css/component.css">
    <script src="https://www.gstatic.com/firebasejs/6.2.0/firebase-app.js"></script>
    <script src="/api/firebase.js"></script>  
</head>

<body>
    <div class="container">
        <div class="search-container">
            <input type="text" id="search-bar" placeholder="Pesquise aqui...">
            <nav class="menu-search">
                <ul id="ul-search">
                </ul>
            </nav>
        </div>
        <div id="owner-container">
            <h1>Nome do pet</h1>
            <h4>Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet delectus qui cumque saepe! Laudantium</h3>
        <div id="owner-box">
            <!-- 
                <h2>Dono</h2>
                <span>telefone</span>
                <span>celular</span>
                <span>email</span>
                <span>zapzap</span> 
            -->
            </div>
            <div id="owner-last-info">
                <h3>Ultima consulta</h3>
                <p>
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptates repellendus, adipisci ex facilis sunt expedita qui itaque. Similique modi repudiandae atque debitis iste magni culpa reprehenderit, cum quae quod consequuntur!
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores, qui alias. Impedit a odit veritatis dolore nostrum rerum? Exercitationem tempora voluptate eaque, odio itaque accusantium voluptatum ex doloremque facilis inventore.
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero, incidunt quis? Vitae, veniam vel quod animi ducimus doloremque cumque, tenetur sapiente neque illum deserunt voluptas eum autem fugit, ipsum consequuntur?
                </p>
            </div>
        </div>
    </div>
    <script src="/api/api.js"></script>
    <script src="js/main.js"></script>
</body>
</html>