<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>List of Components</title>
    <link rel="stylesheet" href="master.css">
    <style>
        body{
            margin-left: 1vw;
        }
        iframe {
            width: 500px;
            height: 300px;
        }
    </style>
</head>

<body>
    <div>
        <h2>Style Guide</h2>
        <iframe src="StyleGuide/index.html" frameborder="0" target="_blank"></iframe>
    </div>
    <div>
        <h2>Animations</h2>
        <iframe src="loaders/loader-paw-1/index.html" frameborder="0"></iframe>
        <iframe src="loaders/loader-paw-2/index.html" frameborder="0"></iframe>
    </div>
    <div>
        <h2>Social Login</h2>
        <iframe src="social-login/login.html" frameborder="0"   ></iframe>
    </div>

    <div>
        <h2>Default Component</h2>
        <iframe src="default-component/index.html" frameborder="0"></iframe>
    </div>
</body>

</html>