@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,600&display=swap');
:root {
    /* Theme Colors */
    --primary: #00E0FF;
    --secoundary: #475DD2;
    --confirm: #00E676;
    --error: #F44336;
    --thumb: #555;
    --disable: #BDBDBD;
    --ice: #f1f1f1;
    --white: #fff;
    --black: #000;
    /* font wheight */
    --thin: 300;
    --medium: 400;
    --bold: 600;
    /* size */
    --s-small: 50px;
    --s-medium: 75px;
    --s-big: 100px;
    /* font size to icons */
    --i-small: 1.5rem;
    --i-medium: 2rem;
    --i-big: 3rem;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.thin {
    font-weight: var(--thin);
}

.medium {
    font-weight: var(--medium);
}

.bold {
    font-weight: var(--bold);
}

/* When Clicked  make an animation*/

button:active {
    transform: scale(0.9);
}

button:focus {
    outline: none;
}

.btn-round-small {
    width: var(--s-small);
    height: var(--s-small);
    border: none;
    border-radius: 100%;
}

.btn-round-medium {
    width: var(--s-medium);
    height: var(--s-medium);
    border: none;
    border-radius: 100%;
}

.btn-round-big {
    width: var(--s-big);
    height: var(--s-big);
    border: none;
    border-radius: 100%;
}

/* width */

::-webkit-scrollbar {
    width: 10px;
}

/* Track */

::-webkit-scrollbar-track {
    background: var(--ice);
    border-radius: 100px;
}

/* Handle */

::-webkit-scrollbar-thumb {
    background: var(--disable);
    border-radius: 100px;
}

/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
    background: var(--thumb);
}