<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../master.css">
    <link rel="stylesheet" href="css/component.css">
    <script src="js/main.js"></script>
</head>

<body>
    <section>
        <div class="timeline">
            <div class="container left">
                <div class="content">
                    <h4>2019</h4>
                    <h3>Tópico</h3>
                    <div class="resumo">
                        <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore et assumenda alias non
                            beatae unde minima mollitia delectus ab odit! Ipsum repellendus pariatur nihil error
                            consectetur neque consequuntur consequatur suscipit.</span>
                    </div>
                </div>
            </div>

            <div class="container right">
                <div class="content">
                    <h4>2019</h4>
                    <h3>Tópico</h3>
                    <div class="resumo">
                        <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore et assumenda alias non
                            beatae unde minima mollitia delectus ab odit! Ipsum repellendus pariatur nihil error
                            consectetur neque consequuntur consequatur suscipit.</span>
                    </div>
                </div>
            </div>

            <div class="container left">
                <div class="content">
                    <h4>2019</h4>
                    <h3>Tópico</h3>
                    <div class="resumo">
                        <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore et assumenda alias non
                            beatae unde minima mollitia delectus ab odit! Ipsum repellendus pariatur nihil error
                            consectetur neque consequuntur consequatur suscipit.</span>
                    </div>
                </div>
            </div>

            <div class="container right">
                <div class="content">
                    <h4>2019</h4>
                    <h3>Tópico</h3>
                    <div class="resumo">
                        <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore et assumenda alias non
                            beatae unde minima mollitia delectus ab odit! Ipsum repellendus pariatur nihil error
                            consectetur neque consequuntur consequatur suscipit.</span>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>

</html>