<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../master.css">
    <link rel="stylesheet" href="css/component.css">
    
</head>

<body>
        <div class="timeline">
            <div id="pop-up">
                <form id="appointment_form" method="post">
                    <div class="close" onclick="closePopUp()">X</div>
                    <label for="appointment_date">Data da consulta: 
                        <input type="date" name="appointment_date" id="appointment_date">
                    </label> 
                    <br>
                    <label for="appointment">Procedimento:
                        <input type="text" name="appointment" id="appointment">
                    </label>
                    <br>
                    <label for="description">Descricao:
                        <textarea name="description" id="description"></textarea>
                    </label>
                    <div class="sub-btn">
                        <button  id="save-btn">Salvar</button>
                        <button  id="cancel-btn">Cancelar</button>
                    </div>
                </form>    
            </div>


            <h2>Histórico do Pasciente</h2>
            <button class="btn_add btn-round-medium" onClick="showPopUp()">+</button>
            <div class="container left">
                <div class="content">
                    <h4>2019</h4>
                    <h3>Tópico</h3>
                    <div class="resumo">
                        <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore et assumenda alias non
                            beatae unde minima mollitia delectus ab odit! Ipsum repellendus pariatur nihil error
                            consectetur neque consequuntur consequatur suscipit.</span>
                    </div>
                </div>
            </div>

            <div class="container right">
                <div class="content">
                    <h4>2019</h4>
                    <h3>Tópico</h3>
                    <div class="resumo">
                        <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore et assumenda alias non
                            beatae unde minima mollitia delectus ab odit! Ipsum repellendus pariatur nihil error
                            consectetur neque consequuntur consequatur suscipit .</span>
                    </div>
                </div>
            </div>

            <div class="container left">
                <div class="content">
                    <h4>2019</h4>
                    <h3>Tópico</h3>
                    <div class="resumo">
                        <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore et assumenda alias non
                            beatae unde minima mollitia delectus ab odit! Ipsum repellendus pariatur nihil error
                            consectetur neque consequuntur consequatur suscipit.</span>
                    </div>
                </div>
            </div>

            <div class="container right">
                <div class="content">
                    <h4>2019</h4>
                    <h3>Tópico</h3>
                    <div class="resumo">
                        <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore et assumenda alias non
                            beatae unde minima mollitia delectus ab odit! Ipsum repellendus pariatur nihil error
                            consectetur neque consequuntur consequatur suscipit.</span>
                    </div>
                </div>
            </div>
        </div>
</body>
<script src="js/main.js"></script>
</html>