<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../master.css">
    <link rel="stylesheet" href="css/component.css">
    <script src="js/main.js"></script>
</head>

<body>
    <div class="timeline">
        <ul>
            <li class="container left">
                <div class="content">
                    <h4>2019</h4>
                    <h3>Tópico</h3>
                    <div class="resumo">
                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolore, odit, earum voluptates,
                        facilis quis commodi labore quidem pariatur enim ratione iure obcaecati ipsa corporis porro
                        reiciendis quaerat libero quae vel!
                    </div>
                    <div class="data">
                    </div>
                </div>
            </li>
            <li class="container rigth">
                <div class="content">
                    <h4>2019</h4>
                    <h3>Tópico</h3>
                    <div class="resumo">
                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolore, odit, earum voluptates,
                        facilis quis commodi labore quidem pariatur enim ratione iure obcaecati ipsa corporis porro
                        reiciendis quaerat libero quae vel!
                    </div>
                    <div class="data">
                    </div>
                </div>
            </li>
            <li class="container left">
                <div class="content">
                    <h4>2019</h4>
                    <h3>Tópico</h3>
                    <div class="resumo">
                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolore, odit, earum voluptates,
                        facilis quis commodi labore quidem pariatur enim ratione iure obcaecati ipsa corporis porro
                        reiciendis quaerat libero quae vel!
                    </div>
                    <div class="data">
                    </div>
                </div>
            </li>
            <li class="container rigth">
                <div class="content">
                    <h4>2019</h4>
                    <h3>Tópico</h3>
                    <div class="resumo">
                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolore, odit, earum voluptates,
                        facilis quis commodi labore quidem pariatur enim ratione iure obcaecati ipsa corporis porro
                        reiciendis quaerat libero quae vel!
                    </div>
                    <div class="data">
                    </div>
                </div>
            </li>
            <li class="container left">
                <div class="content">
                    <h4>2019</h4>
                    <h3>Tópico</h3>
                    <div class="resumo">
                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolore, odit, earum voluptates,
                        facilis quis commodi labore quidem pariatur enim ratione iure obcaecati ipsa corporis porro
                        reiciendis quaerat libero quae vel!
                    </div>
                    <div class="data">
                    </div>
                </div>
            </li>
            <li class="container rigth">
                <div class="content">
                    <h4>2019</h4>
                    <h3>Tópico</h3>
                    <div class="resumo">
                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolore, odit, earum voluptates,
                        facilis quis commodi labore quidem pariatur enim ratione iure obcaecati ipsa corporis porro
                        reiciendis quaerat libero quae vel!
                    </div>
                    <div class="data">
                    </div>
                </div>
            </li>
        </ul>
    </div>
</body>

</html>