<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../master.css">
    <link rel="stylesheet" href="css/component.css">
    <script src="https://www.gstatic.com/firebasejs/6.2.4/firebase-app.js"></script>
</head>

<body>
    <form id="login-form" method="post">
        <div class="contents-item">
            <h1>Novo Usuário:</h1>
            <div class="tab">
                <p>Nome do Pet:<input placeholder="Nome do pet" oninput="this.className = ''" value="asd" name="fname"
                        autofocus></p>
                <p>Descrição:</p>
                <textarea class="textarea" placeholder="Descrição do pet" oninput="this.className = ''" name="lname"
                    rows="5" cols="50"></textarea>
            </div>
            <div class="tab">
                <p>Nome do dono:<input placeholder="Nome do dono" oninput="this.className = ''" value="asd"
                        pname="email" type="text">
                </p>
                <p>E-mail:<input placeholder="E-mail" type="email" oninput="this.className = ''" value="asd"
                        name="email"></p>
                <p>Endereço:<input placeholder="Endereço" type="text" oninput="this.className = ''" value="asd"
                        id="pword"></p>
            </div>
            <div class="tab">Contato:
                <p>Telefone:<input placeholder="Telefone" oninput="this.className = ''" value="asd" name="phone"></p>
                <p>Celular:<input placeholder="Celeular" oninput="this.className = ''" value="asd" name="phone"></p>
                <p>Watsapp:<input type="checkbox" placeholder="Telefone..." oninput="this.className = ''" name="phone">
                </p>
            </div>
            <div class="tab">
                <p><input placeholder="E-mail..." type="email" oninput="this.className = ''"  value="asd"name="uname"></p>
                <input type="date" id="theDate" required="required" disabled>
            </div>
        </div>
        <!-- Circles which indicates the steps of the form: -->
        <div class="bottom-items">
            <div class="steppers">
                <span class="step"></span>
                <span class="step"></span>
                <span class="step"></span>
                <span class="step"></span>
            </div>
            <div class="myButtons">
                <div style="float:right;">
                    <button type="button" id="prevBtn" onclick="nextPrev(-1)">Voltar</button>
                    <button type="button" id="nextBtn" onclick="nextPrev(1)">Próximo</button>
                </div>
            </div>
        </div>

    </form>
</body>

<script src="js/main.js"></script>
<script src="../../../api/firebase.js"></script>

</html>