#menu{
    display: flex;
    justify-content: center;
    margin: 10px 5px;
    padding: 10px;
    display: flex;
    width: 10vw;
    border: 1px solid black;
}

#menu-search input{
    display: flex;
    background-image: url("/media/icons/Search-icon.svg");
    background-position: right;
    background-repeat: no-repeat;
}